<footer class="wrapper" style="clear:both;background-color: rgba(0,0,0,0.4);font-size:16px;">
  <p class="links" style="padding:5px;margin:10px;">友情链接：
  <a href="https://www.iquan.net/" target="_blank" style="color:#555">淘宝优惠券</a>
  <a href="http://www.shikuaigou.com/" target="_blank" style="color:#555">粉丝福利购</a>
  <a href="https://www.uuhaodian.com/" target="_blank" style="color:#555">优优好店</a>
  <a href="http://car.uuhaodian.com/" target="_blank" style="color:#555">优优汽配帮手</a>
  <a href="http://www.jidanguo.top/" target="_blank" style="color:#555">百香果</a>
  <a href="http://www.xiongmao123.com/" target="_blank" style="color:#555">熊猫黑白装饰画</a>
  </p>
  <p class="center" style="margin:10px;padding:5px;text-align:center;">
     <a href="https://beian.miit.gov.cn/" target="_blank" style="color:#000">京ICP备17027610号-2</a> 
  </p>
</footer>
